* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.container-header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
